{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.15752-9/340792292_762371538853157_6990826544047753596_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=ae9488&_nc_ohc=ioqA4g5wKIkAX-xOrIX&_nc_ht=scontent-waw1-1.xx&oh=03_AdTF6vR2bJ2sNowe_l46N2pVsbo4nbHK6noZzflKGNRJNA&oe=645FA3D2" class="img-fluid rounded-circle mb-3" alt="My Profile Picture">
      </div>
      <div class="col-md-8">
        <h1 class="mb-3">Hi, I'm Kacper</h1>
        <p class="lead">I'm 20 years old. My very very dream is to become a good programmer.</p>
        <hr>
        <h3>What i like</h3>
        <p>C++ | Python | Django | Linux </p>
        <hr>
        <h3>Education</h3>
        <h5>Student of ISSP</h5>
        <p>Wroclaw University, 2022-20??</p>
        <hr>
        <h3>Experience</h3>
        <h5>None (clown emoji)</h5>
        <p>Poor Student</p>
      </div>
    </div>
  </div>
  
{% endblock %}