{% extends 'base.html' %}

{% block content %}
{% load static %}
<br><br>
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'images/' %}kotek.jpg" class="img-fluid rounded-circle mb-3"  alt="My Profile Picture">
      </div>
      <div class="col-md-8">
        <h1 class="mb-3">Hi, I'm Kacper</h1>
        <p class="lead">I am a 20-year-old student studying computer science in Wroclaw. I have a keen interest in programming and specifically want to delve into the world of C++. I find the field of computer science fascinating, and I'm excited to learn and apply my knowledge in developing software solutions. Being a student in informatics, I am constantly exploring new concepts and techniques to enhance my programming skills. Wroclaw provides a vibrant environment for learning and growth, and I am fortunate to be part of the thriving tech community in this city. I look forward to honing my C++ skills and contributing to the field of software development.</p>
        <hr>
        <h3>What i like</h3>
        <p>I enjoy working with a variety of technologies and have a particular affinity for C++, Python, Linux, Bash, and Django. The power and flexibility of C++ and Python have always fascinated me, allowing me to develop robust and efficient applications. Exploring the depths of the Linux operating system and utilizing Bash scripting to automate tasks brings me great satisfaction. Additionally, I find Django framework extremely useful in building web applications with ease and efficiency. My passion for computers extends beyond just software, as I am also intrigued by the intricacies of integrated circuits and their role in modern technology. Continuously expanding my knowledge in these areas brings me joy and fuels my drive to contribute to the ever-evolving world of technology.</p>
        <hr>
        <h3>Education</h3>
        <h5>Student of computer science</h5>
        <p>ZSZIL, 2018-2022</p>
        <h5>Student of ISSP</h5>
        <p>Wroclaw University, 2022</p>
        <hr>
        <h3>My projects</h3>
        <h5><a href="https://github.com/Kapiura/SFML-Simple-Space-Game">Simple SFML Game</a></h5>
        <h5><a href="https://github.com/Kapiura/weather.is">Weather website app</a></h5>
        <p>Im a poor student biblethump</p>
      </div>
    </div>
  </div>
  
{% endblock %}