{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="my-profile-picture.jpg" class="img-fluid rounded-circle mb-3" alt="My Profile Picture">
      </div>
      <div class="col-md-8">
        <h1 class="mb-3">Hi, I'm Kacper</h1>
        <p class="lead">I'm 20 years old. My very very dream is to become a good programmer.</p>
        <hr>
        <h3>What i like</h3>
        <p>C++ | Python | Django | Linux </p>
        <hr>
        <h3>Education</h3>
        <h5>Student of ISSP</h5>
        <p>Wroclaw University, 2022-20??</p>
        <hr>
        <h3>Experience</h3>
        <h5>None (clown emoji)</h5>
        <p>Poor Student</p>
      </div>
    </div>
  </div>
  
{% endblock %}