{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="weatherDesc container">
    <div class="row">
        <div class="centerDiv weatherTab col-md-12">
            <h1 style="float: left;padding-top: 0.55em;">{{name_space}}</h1>
            <img style="float: right;" src='https://openweathermap.org/img/wn/{{city.pic}}@2x.png'>
        </div>
    </div>
    <div class="row">
        <div class="centerDiv weatherTab col-md-5">
            <p>Simple: {{city.description_simple}}</p>
            <p>Extended: {{city.description}}</p>
            <p>Temperature: {{city.temp}} °C</p>
        </div>
        <div class="centerDiv weatherTab col-md-5">
            <p>Clouds: {{city.clouds}}%</p>
            <p>Humidity: {{city.humidity}}%</p>
            <p>Wind speed: {{city.wind_speed}} <span class="fraction">m</span>/<span class="fraction">s</span></p>
        </div>
    </div>
    <div class="row">
        <div class="centerDiv weatherTab col-md-12">
            <p>Sunrise: {{sunrise}}</p>
            <p>Sunset: {{sunset}}</p>
            <p>Timezone: {{timezone}}</p>
        </div>
    </div>
    <div class="centerDiv weatherTab row">
        <p>Air pollution: {{city.air_pol}}</p>
        <h3>Choose air pollution:</h3>
        <select value="graph.png" id="myComboAir" onload="updateAirPollution()" onchange="updateAirPollution()">
            <option value="" selected>Choose</option>
            <option value="{{city.co}}">CO</option>
            <option value="{{city.nh3}}">NH3</option>
            <option value="{{city.no}}">NO</option>
            <option value="{{city.no2}}">NO2</option>
            <option value="{{city.o3}}">O3</option>
            <option value="{{city.pm10}}">PM10</option>
            <option value="{{city.pm25}}">PM25</option>
            <option value="{{city.so2}}">SO2</option>
        </select>

        <p class="centerDiv weatherTab" id="selectedairinfo">...</p>
    </div>

    <img id="pollutionGraph" src="{% static 'graphs/' %}graph1.png" alt="Pollution Graph">
    <div class="centerDiv weatherTab row">
        {{ map_html|safe }}
    </div>
</div>


{% endblock %}