{% extends 'base.html' %}

{% block content %}
<h1>
  Day: {{today}}
</h1>
<h1>
  Nameday: {{imieniny}}
</h1>

{% if status_sw %}
  <h1>Today is a holiday</h1>
  <h1>{{hdate}}: {{hdesc}}</h1>
  {% else %}
  <h1>Today is not a holiday</h1>
{% endif %}


<h1>
  Week: {{week}}
</h1>
<h1>
  Month: {{month}}
</h1>
<h1>
  Year: {{year}}
</h1>
<h1 id="txt">
  <!--javascritp time real time updating over secnod-->
  <script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
      "Current time: " + h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
  </script>
</h1>
<h1>
  Timezone: {{timezone}}
</h1>
<h1>
Shopping Sunday: {{sunday}}
</h1>
<!--horoscope from dictionary-->

{% for key in horoscope %}
  <h6>
    {{key.sign}}: {{key.description}}
  </h6>
{% endfor %}
    
{% endblock %}