{% extends 'base.html' %}

{% block content %}
<div class="weatherDesc container">
  <div class="row">
    <div class="centerDiv weatherTab col-md-5">
      <p>{{today}} - {{month}} - {{year}}</p>
      <p>Week number: {{week}}</p>
      <p><span id="txt"></span> {{timezone}}</p>
    </div>
    <div class="centerDiv weatherTab col-md-5">
      {% if holidayStatus %}
      <p>Today is a holiday - {{hdesc}}</p>
      {% else %}
      <p>Today is not a holiday</p>
      {% endif %}
      {% if sunday %}
      <p>This week is there a Shopping Sunday</p>
      {% else %}
      <p>This week is there not a Shopping Sunday</p>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="centerDiv weatherTab col-md-11">
      <h3>They have a name day today:</h3>
      <p>{{nameday}}</p>
    </div>
  </div>
  <div class="centerDiv weatherTab row">
    <h3>Choose horoscope sign:</h3>
    <select id="myCombo" onchange="showSelected()">
      <option value="">Choose...</option>
      {% for key in horoscope %}
      <option value="{{key.sign}}">{{key.sign}}</option>
      {% endfor %}
    </select>

    <p class="centerDiv weatherTab horoscope" id="selectedSignInfo">Daily horoscope...</p>

  </div>
</div>


  {% endblock %}