{% extends 'base.html' %}

{% block content %}
<h1 style="float:left;">Weather</h1>
<h1 style="float:right;">
    <script>
        var today = new Date();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
    </script> {{c_date.date}}
</h1>
<div style="clear:both;" class="con">
    {% for c in cities %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 ">
                <form action="">
                {% for ci in city %}
                {% if ci.city_id == c.id %}
                <div class="container-fluid">
                    <div class="box">
                        <a href='{{c.name}}'>
                            <div class="row">
                                <div class="col-md-6">
                                    <img src='https://openweathermap.org/img/wn/{{ci.pic}}@2x.png' style="float:left;"
                                        alt="łot">
                                    <h6 style="margin-left: 20px;margin-top: 20px;float: left;">{{c.name}}</h6>
                                    <p style="margin-left: 40px;clear:both;float: left;">{{ci.description_simple}}</p>
                                    <p class='hid'
                                        style="margin-top:-15px;margin-left: 40px;clear:both;float: left; margin-right: 20px;">
                                        {{ci.description}}</p>
                                </div>
                                <div class="col-md-6">
                                    <div style="float:right;text-align: right;display: table;flex-wrap:wrap;">
                                        <div style="margin-right: 28px;">
                                            Air pollution: {{ci.air_pol}}
                                        </div>
                                        <div>
                                            Temperature: {{ci.temp}}°C
                                        </div>
                                        <div style="margin-right: -3px;" class="hid">
                                            Wind speed: {{ci.wind_speed}}m/s
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

                {% endif %}
                {% endfor %}
            </div>
        </form>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
